<section class="details">
    <h1 class="back">BACK</h1>
    <div class="card-container">
        <div class="charCard">
            <h2>CHARACTER INFO</h2>
            <div>
                Name: {{character.name}}
            </div>
            <div>
                Gender: {{character.gender}}
            </div>
            <div>
                Eye Color: {{character.eye_color}}
            </div>
            <div>
                Skin Color: {{character.skin_color}}
            </div>
            <div>
                Birth Year: {{character.birth_year}}
            </div>
        </div>
    </div>
</section>
