body, html {
    font-family: sans-serif, Arial, Helvetica;
    height: 100%;
    width: 100%;
    background: url('../5c03da8971db5da45a4d7be7a1db2c59.jpg') no-repeat center center;
    background-size: cover;
}

header {
    height: 7vh;
    width: 100%;
    background: black;
    color: white;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
}

header nav div {
    width: 5%;
    padding: 0 50px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px 0 0;
    width: 95%;
    font-size: 26px;
}

header nav ul li {
    cursor: pointer;
    margin-right: 10%;
    border-bottom: 3px solid transparent;
}

header nav ul li:hover {
    border-bottom: 3px solid white;
}

.logo img {
    width: 50px;
    height: 50px;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
}

.charCard {
    height: 300px;
    width: 200px;
    background: white;
    opacity: .7;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.back {
    position: absolute;
    top: 10vh;
    left: 5vw;
    color: peru;
    font-size: 36px;
    cursor: pointer;
}

.charCard h2 {
    margin-bottom: 25px;
}

.home {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.home h1 {
    font-size: 50px;
    color: aquamarine;
}
